* {
    margin: 0 auto;
}

body {
    background-color: #F2D7EE;
}

h1 {
    /* border-bottom: 2px solid black; */
    padding-bottom: 10px;
    color: #A5668B;
    font-weight: lighter;
    font-size: 30px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #A5668B;
}

hr {
    width: 200px;
}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}

.navi-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navi-ul li a {
    display: inline-block;
    color: #69306D;
    text-decoration: none;
    width: 100%;
    margin-right: 1rem;
}

.burger {
    border: 0;
    color: black;
    cursor: pointer;
    display: block;
    background-color: transparent;
    display: none;
    justify-content: right;
}

.LogoA {
    color: #F2D7EE;
    font-size: 30px;
    margin-left: -4rem;
}

.LogoT {
    color: #A5668B;
    font-size: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

.container {
    position: relative;
    text-align: center;
    color: #69306D;
}

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.flex-item {
    margin: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: none;
    padding: 10px;
    flex: 50%;
    border-radius: 20px;
}

.albe {
    width: 100%;
}

.multi {
    font-size: 3vw;
    margin-top: 2rem;
    color: black;
}

@media screen and (max-width: 767px) {
    .navi-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navi-ul.show {
        display: flex;
    }
    .burger {
        display: block;
    }
}